{% extends "Tom32iPortfolioBundle::layout.html.twig" %}

{% block body_attributes %}onresize="resizeHandler();" onload="initPage();" class="loading"{% endblock body_attributes %}

{% block content %}
<h1>JE CODE</h1>

<div id="languages" class="languages row full-width scrollable">
	<div class="control prev hide">‹</div>
	<div class="control next">›</div>

	<div id="slider-languages" class="slider">
	{% for language in languages %}
		<div class="language span3">

			<h2 class="title in-color {{ language.color }} {{ language.two_lines ? 'two-lines' : '' }}">
				{% autoescape false %}{{ language.title }}{% endautoescape %}
			</h2>

			<p class="content">
				{% autoescape false %}{{ language.content }}{% endautoescape %}
			</p>
		</div>
	{% endfor %}
	</div>
</div>

<div class="hr">
    <i class="icon-teapot"></i>
</div>

<h1>3 ANS DE PASSION</h1>

{% set colums = 2 %}
{% set max = projects|length - 1 %}

<div id="projects" class="projects row full-width scrollable">
	<div class="control prev hide">‹</div>
	<div class="control next">›</div>

	<div id="slider-projects" class="slider">
	{% for key, project in projects %}
		<div class="project span{{ 12 / colums }}">

			<h2 class="title in-color">
				{{ project.title }}
			</h2>

			{% set img = project.display('full') %}
            <img src="{{ asset(img.src) }}" class="picture" width="{{ img.width }}" height="{{ img.height }}" alt="{{ project.title }}" />

            <div class="metas">
				<p class="content">
					{% autoescape false %}{{ project.description }}{% endautoescape %}
				</p>

				<p class="meta date">
					{{ project.released >= now ? "Prochainement" : project.released|date('Y') }}
				</p>

				{% if project.url %}
					<a href="{{ project.url }}" target="_blank" class="link meta">
						{{ project.url|replace({'http://': "", 'https://': ""}) }}
					</a>
				{% endif %}

				<div class="clearfix"></div>
			</div>
		</div>
	{% endfor %}
	</div>
</div>

<div class="hr">
    <i class="icon-moustache"></i>
</div>

<h1>MÉTHODES DE TRAVAIL</h1>

{% for key, method in methods %}

	{% if key % 3 == 0 %}
	<div class="row methods">
	{% endif %}

		<div class="method span4">

			<h2 class="title">
				{{ method.title }}
			</h2>

			<p class="content">
				{% autoescape false %}{{ method.content }}{% endautoescape %}
			</p>
		</div>

	{% if key % 3 == 2 %}
	</div>
	{% endif %}

{% endfor %}

<div class="hr">
    <i class="icon-movie"></i>
</div>

<h1>MES MEILLEURS AMIS</h1>

{% set colums = 3 %}
{% set max = tools|length - 1 %}

<div class="tools">

	{% for key, tool in tools %}

		{% if key % colums == 0 %}
		<div class="row-fluid">
		{% endif %}

			<div class="tool span{{ 12 / colums }}">
				<a href="{{ tool.url }}" target="_blank" title="{{ tool.title }}">
					<h2 class="title">
						<img src="{{ asset(tool.logo)  }}" title="{{ tool.title }}" alt="{{ tool.title }}" width="200" height="60" />
					</h2>
				</a>
			</div>

		{% if key % colums == colums - 1 or key == max %}
		</div>
		{% endif %}

	{% endfor %}

	<div class="">
		<h3 class="sub-title">Et pourquoi ça ?</h3>
		<p>Lorsque je choisis de travailler avec un outils, c’est après l'avoir testé, comparé et approuvé.</p>
		<p>N'hesitez pas à venir en discuter avec moi. Je vous expliquerai ces choix dans le détail ;)</p>
	</div>
</div>

{% endblock content %}